body {
    background-color: #000833; 
}

#top-bar {
    display: table;
    height: 4vh
}

.top-bar-text {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.8vh;
    vertical-align: top !important;
}

.top-bar-item {
    height: 1.8vh;
    margin-top: 0 !important;
    display:table-cell
}

#topbar-time {
    padding: 0;
    margin: 0;
    width: 20vw;
    font-family: Trebuchet MS;
    font-weight: bold;
}

#topbar-welcome {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 60vw;
}

#topbar-status {
    width: 20vw;
    text-align: right;
}

#top-bar-time {
    margin-left: 4vh;
}

#topbar-net {
    margin: 0;
    padding: 0;
    display: table-cell;
    width: 1.8vw;
    float: left;
    margin-top: 0.4vh;
}

#topbar-battery {
    margin: 0;
    padding: 0;
    display: table-cell;
    width: 1.8vw;
    float: left;
    padding-top: 0.4vh;
    margin-left: 1.5vh
}

#topbar-status-items {
    display: table;
    margin-right: 0.5vh;
    float: right;
    width: 5vw;
    height: 3vh;
}

#navbar {
    display: table;
    background-color: #383838;
    height: 8vh;
}

.navbar-col {
    display: table-cell;
}

#navbar-logo {
    width: 8vw;
}

#navbar-page {
    width: 62vw;
}

#navbar-buttons {
    width: 30vw;
    height: 7vh;
}

#page-title {
    color: white;
    margin-top: 2vh;
    margin-left: 3vw;
}

#logo {
    margin-left: 1vw;
    margin-bottom: 2vh;
    width: 6vw;
    height: 4vh;
}

#navbar-menu-items {
    float: right;
    margin: 0;
    padding: 0;
    width: 15vw;
}

.navbar-button {
    margin: auto;
    padding: 0;
    height: 5.5vh;
    transform: translateY(20%);
    float: right;
}

#btn-settings {
    margin-left: 2vh;
    margin-right: 5vh;
}

#menu-select {
    display: none;
    position: absolute;
    background-color: #454545;
    width: 20vh;
    right: 15vw;
    top: 5vh;
}

.menu-text {
    color: #C7C7C7;
    text-align: center;
    font-size: 2vh;
    margin-top: 1.5vh;
}

.menu-item {
    height: 6vh;
    border: 0.5px solid grey;
}